.container-title{
    background-color: #1f2020;
    width: 80%;
    height: 7rem;
    margin-left: 10%;
}

.container-title-text{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    margin: 0;
}

.container-title-bar{
    background-color: white;
    height: 0.2%;
    width: 25%;   
}


@media (max-width: 1250px) {
    .container-title-bar{
        width: 15%;   
    }
}



@media (max-width: 1200px) {
    .container-title-text {
        font-size: 4rem;
    }
    .container-title{
        height: 6rem;
    }
}

@media (max-width: 768px) {
    .container-title-text {
        font-size: 3rem;
    }
    .container-title{
        height: 5rem;
    }
}

@media (max-width: 500px) {
    .container-title-text {
        font-size: 2rem;
    }
    .container-title{
        height: 4rem;
    }
}